heat_template_version: 2013-05-23

resources:
  db: # You can name this whatever you prefer
    type: "OS::Trove::Instance"
    properties:
      name: My Test Database
      flavor: 1GB Instance
      size: 1
      databases:
      - name: testdb
      users:
      - name: testuser
        password: password
        databases:
        - testdb
